<div class="container">
  <h1>My Portfolio List</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="create-portfolio">
        <button
          type="submit"
          ngbTooltip="Add new Portfolio"
          placement="top"
          (click)="openPortfolioModal(content)"
          class="btn btn-primary"
        >
          Create Portfolio
        </button>
      </div>
    </div>
    <div class="col-lg-4 col-md-6" *ngFor="let d of portfolios$ | async">
      <div class="card">
        <img
          *ngIf="d.fileUrl"
          [src]="'http://localhost:3001/' + d.fileUrl"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ d.title }}</h5>
          <p class="card-text">{{ d.description }}</p>
          <div class="portfolio_info">
            <span 
              class="badge bg-primary customer_link" 
              *ngIf="d.customer_link"
              [ngbTooltip]="d.customer_link"
              placement="top" 
              >{{
              d.customer_link
            }}</span>
            <span class="badge bg-info" *ngIf="d.hidden">HIDDEN</span>
          </div>
          <div class="delete-portfolio">
            <button
              type="button"
              ngbTooltip="Delete Portfolio"
              placement="top"
              class="btn btn-danger"
              (click)="openDeleteModal(delete_content, d.id)"
            >
              Delete
            </button>
            <button
              type="button"
              ngbTooltip="Edit Portfolio"
              placement="top"
              class="btn btn-primary"
              (click)="openEditPortfolioModal(d, content)"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #delete_content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Portfolio</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete portfolio?</p>
  </div>
  <div class="modal-footer">
    <button (click)="deletePortfolio()" class="btn btn-danger">Delete</button>
  </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div *ngIf="portfolioForm">
    <form [formGroup]="portfolioForm">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          <span *ngIf="portfolioIdForEdit">Edit</span>
          <span *ngIf="!portfolioIdForEdit">Create</span>
          Portfolio
        </h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="d('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-holder">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              autocomplete=""
              id="title"
              formControlName="title"
              aria-describedby="titleHelp"
              placeholder="Enter Title"
            />
            <small id="titleHelp" class="form-text text-muted"
              >Write a job title.</small
            >
          </div>
          <div class="form-group">
            <label for="title">Website Link</label>
            <input
              type="text"
              class="form-control"
              autocomplete="off"
              formControlName="customer_link"
              id="link"
              aria-describedby="linkHelp"
              placeholder="Enter Website Link"
            />
            <small id="linkHelp" class="form-text text-muted"
              >Write a link to your job e.g. https://myportfolio.com</small
            >
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              formControlName="description"
              placeholder="Description"
              aria-describedby="descHelp"
              rows="4"
            ></textarea>
            <small id="titleHelp" class="form-text text-muted"
              >Write a description about your finished job.</small
            >
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Add portfolio image</label>
            <input
              class="form-control"
              type="file"
              id="formFile"
              (change)="onFileInputChange($event)"
            />
          </div>
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="hidden"
              role="switch"
              id="showPortfolio"
            />
            <label class="form-check-label" for="showPortfolio"
              >Hide Portfolio from website</label
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          (click)="createPortfolio()"
          [disabled]="!portfolioForm.valid"
          class="btn btn-primary"
        >
          <span *ngIf="portfolioIdForEdit">Edit</span>
          <span *ngIf="!portfolioIdForEdit">Create</span>
          Portfolio
        </button>
      </div>
    </form>
  </div>
</ng-template>
